mypy==1.13.0
prospector[with_everything]==1.10.3
jsonpickle==4.0.0
Django==5.1.3
Flask==3.1.0
#can't upgrade to the latest version of Pylint due to a mismatch on astroid versions
#requirements-detector (from prospector) 1.2.2 depends on astroid<3.0 and >=2.0
#pylint 3.x depends on astroid<=3.3.0-dev0 and >=3.2.4
pylint==3.3.2

